.graph-container {
  height: auto;
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
  margin-left: 230px;
  transition: all 0.3s ease;
  max-width: 1255px;
  background: linear-gradient(to bottom, #f8f9fa, #b7d3f8, #f1f5f9); 
}

@media screen and (max-width: 768px) {
  .graph-container {
    margin-left: 0;
    margin-top: 20px;
    border-radius: 10px;
    max-width: 100%;
    padding-right: 60px;
  }
}

@media screen and (max-width: 480px) {
  .graph-container {
    
    margin-top: 15px;
    border-radius: 8px;
    padding-right: 30px;
    border: 2px solid rgb(1, 103, 255);
    margin: 30px;
  }
}
